body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

h1 {
    color: azure;
}
h4 {
    color: azure;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}
